{
  "presets": [["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]],
    "plugins": [["@babel/plugin-transform-regenerator", {
      "asyncGenerators": true,
      "generators": true,
      "async": true
    }]]
}
